
<section class="pt-5">
	<div class="container mt-2 pt-2">

		<div class="row">

			{{#each products}}

			<div class="col-md-4 col-sm-6 mb-3 mb-sm-3">
				<div class="card">
					<img src={{this.thumbnail}} class="card-img-top" alt={{this.title}} />
					<div class="card-body">
						<h5 class="card-title limited-title">{{this.title}}</h5>
						<p class="card-text limited-paragraph">{{this.description}}</p>
						<a href="/products_mongo/{{this._id}}" class="btn btn-primary">See more details</a>
					</div>
				</div>
			</div>

			{{/each}}

		</div>
	</div>
</section>