<section class="pt-5">
	<div class="container mt-2 pt-2">

		<div class="row">

			{{#each products_data}}

				<div class="col-md-4 col-sm-6 mb-3 mb-sm-3">
					<div class="card">
						<img src={{this.thumbnail}} class="card-img-top" alt="..." />
						<div class="card-body">
							<h5 class="card-title">{{this.title}}</h5>
							<p class="card-text">{{this.description}}</p>
							<p class="card-title">Price: {{this.price}}</p>
							<p class="card-title">Quantity: {{this.quantity}}</p>
							<h5 class="card-title">Total: ${{multiply this.price this.quantity}}</h5>
						</div>
					</div>
				</div>

			{{/each}}

		</div>
	</div>
</section>